/* Variables */
:root {
    --black: #000000;
    --outer_space: #283136;
    --tundora: #444444;
    --gallery: #EEEEEE;
    --white: #FFFFFF;
    --alto: #D5D5D5;
    --gray: #DFDFDF;
    --iron: #D7DCDE;
    --carnation: #FB565A;
    --cinnabar: #E74246;
    --valencia: #D7373B;
    --caribbean_green: #00CA74;
    --jade: #00BC6C;
    --green: #00AA62;
    --sandstorm: #EFC84A;
    --meat_brown: #EAB534;
    --urobilin: #E5A722;
}

/* Global */
*, *::before, *::after { box-sizing: border-box; }

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--outer_space);
    background-color: var(--iron);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid*/
.page {
    height: 100%;
}

.page_body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Background colors*/
.main_background, 
.footer_zone {
    background-color: var(--white);
}


/* Headlines*/
.main_headline {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--black);
}

.legend_headline {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--black);
    margin: 0px;
}

/* Logo */
.logo {
    margin-right: 202px;
}

.logo:active {
    opacity: 0.5;
}

/* Main navigation */
.main_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    line-height: 30px;
    color: var(--black);
    background-color: var(--gallery);
    list-style: none;
    margin-left: 140px;
}

.main_navigation ul {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_navigation ul a {
    display:block;
    padding: 15px;
}

.main_navigation ul :last-child {
    margin-left:auto;
}

.main_navigation li {
    margin-right: 44px;
}

.main_navigation li:nth-child(4) {
    margin-right: 245px;
}

.main_navigation a:active {
    color: var(--gray);
}

.main_navigation a:focus,
.main_navigation a:hover {
    color: var(--carnation);
}

.main_navigation a:visited {
    text-decoration: underline;
    text-decoration-color: var(--carnation);
}

.cart {
    position:relative;
    padding-left: 35px;
}

.cart_img {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

/* Visually hidden*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Features */
.features {
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr;
    column-gap: 100px;
    margin-left: 140px;
}

.features_list {
    list-style: none;
}

.feature_item {
    text-align: left;
    margin-right: 100px;
}

.feature_item h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-top: 25px;
}

.feature_discription {
    width: 260px;
    margin-top: 0px;
    margin-bottom: 32px;
}

/* Imagine */
.social_imagine_vk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26.01px;
    height: 15px;
}

.social_imagine_fb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 22px;
}

.social_imagine_inst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
}

/* Buttons */
.button {
    border-radius: 3px;
    background-color: var(--gallery) ;
    color: var(--white);
    padding-top: 17px;
    padding-bottom: 15px;
    text-transform:uppercase;
}

.button_close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.button_close:hover {
    opacity: 0;
}

.button_close:active {
    opacity: 0.1;
}

.button_close:before, .button_close:after {
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    background-color: var(--carnation);
}

.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.button_red {
    background-color: var(--carnation);
    padding-left: 39px;
    padding-right: 40px;
}

.button_red:active{
    background-color: var(--valencia);
    color: var(--carnation);

}

.button_red:focus,
.button_red:hover {
    background-color: var(--cinnabar);
}

.button_green {
    background-color: var(--caribbean_green);
    padding-left: 39px;
    padding-right: 40px;
}

.button_green:active{
    background-color: var(--green);
    color: var(--caribbean_green);
}

.button_green:focus,
.button_green:hover {
    background-color: var(--jade);
}

.button_yellow {
    background-color: var(--sandstorm);
    padding-left: 39px;
    padding-right: 40px;
}

.button_yellow:active{
    background-color: var(--urobilin);
    color: var(--sandstorm);
}

.button_yellow:focus,
.button_yellow:hover {
    background-color: var(--meat_brown);
}

.button_price {
    background-color: var(--carnation);
    padding-left: 72px;
    padding-right: 72px;
}

.button_for_filter {
    background-color: var(--gallery) ;
    border-radius: 3px;
    padding-left: 88px;
    padding-right: 89px;
    text-transform: uppercase;
    color: #333333;
    margin-top: 50px;
}

.button_for_filter:focus {
    background-color: var(--gray);
}

.button_for_filter:active {
    background-color: var(--alto);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.popup_send_button {
    width: 259px;
    border-radius:9px; 
}

.social_button {
    display: block;
    position: relative;
    width: 81px; 
    height: 81px;
    background: var(--iron);
    border-radius: 50%;
}

.social_button:focus,
.social_button:hover {
    background-color: var(--cinnabar);
}

.social_button:active{
    background-color: var(--valencia);
}

.social_button:active .social_imagine{
    background-color: var(--valencia);
    opacity: 0.3;
}

/*Main input*/
.input_disabled {
    opacity: 0.5;
}

/* Popup*/
.popup {
    position: relative;
    width: 960px;
    height: min-content;
    padding-top: 63px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 84px;
}

.popup, h2 {
    padding-bottom: 37px;
    margin: 0;
}

.popup_block {
    display: flex;
    flex-wrap: wrap;
}

.popup_block_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
    padding-bottom: 34px;
}

.popup_block_item:nth-child(2) {
    padding-right: 0px;
}

.popup_input_headline {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

/* Input for form*/
.input_form {
    font: inherit;
    width: 360px;
    height: 50px;
    border-style: solid;
    border-color: var(--alto);
    border-width: 2px;
    border-radius: 3px;
    color: var(--tundora);
    opacity: 0.5;
    padding-top:16px;
    padding-left: 16px;
    padding-right:16px;
    padding-bottom:16px;
}

.input_form input:focus {
    border-color: var(--black);
    color: var(--tundora)
}

.input_form_ivalid {
    border-color: var(--cinnabar);
    color: var(--cinnabar)
}

.input_form_text_letter {
    width: 760px;
    height: 118px;
}

/* Input for filter*/
.input_radio {
    background-color: var(--alto);
    color: var(--black)
}

.input_radio input:focus {
    background-color: var(--outer_space);
    color: var(--black)
}

/* Index */
.features ul {
    display:flex;
    margin: 0;
    padding: 0;
}

/* Shop headline*/
.main_headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 108px;
    padding-top: 73px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--gallery);
}

/* catalog filters and shop  */
.filters_and_shop {
    display: flex;
    flex-direction: row;
    border: 1px solid #D7373B;
}

/* filters*/
.filters {
    display: flex;
    flex-direction: column;
    border: 1px solid #00CA74;
    margin-left: 140px;
    margin-right:140px;
}

.filter_grid {
    margin-bottom: 0px;
}

.filter_grid ul {
    list-style-type:none;
}

.filter_features {
    margin-top: 45px;
}

.filter_features ul {
    list-style-type:none;
}

.fieldset_headline {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Checkbox */
.check {
    padding-left: 1.2em;
}

.check_option {

}

.filter_section {
    border: none;
}

.filter_option {
    margin-bottom: 17px;
    padding-left: 0;
}

.filter_option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.check_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check_box {
    position: absolute;
    margin-left: -1.2em;
    width: 1.48em;
    height: 1.48em;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

.check_input:checked + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M7.23738 7.48591L4.42688 10.3149L12.159 18.0979L25.9999 4.16591L23.1904 1.33691L12.159 12.4389L7.23738 7.48591Z' fill='%234D4D4D'/%3E%3Cpath d='M20.8627 20C20.8627 20.542 20.4077 21 19.8692 21H2.98038C2.44193 21 1.98692 20.542 1.98692 20V3C1.98692 2.458 2.44193 2 2.98038 2H19.7778L21.3525 0.415C20.9034 0.146542 20.3915 0.00329969 19.8692 0H2.98038C1.34117 0 0 1.35 0 3V20C0 21.65 1.34117 23 2.98038 23H19.8692C21.5084 23 22.8496 21.65 22.8496 20V10.171L20.8627 12.171V20Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.check_input:focus + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}

.check_input:checked:focus + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.95925 7.48591L4.25684 10.3149L11.6916 18.0979L25.0002 4.16591L22.2988 1.33691L11.6916 12.4389L6.95925 7.48591Z' fill='%234D4D4D'/%3E%3Cpath d='M20.0604 20C20.0604 20.542 19.6229 21 19.1051 21H2.86577C2.34802 21 1.91051 20.542 1.91051 20V3C1.91051 2.458 2.34802 2 2.86577 2H19.0172L20.5313 0.415C20.0996 0.146542 19.6073 0.00329969 19.1051 0H2.86577C1.2896 0 0 1.35 0 3V20C0 21.65 1.2896 23 2.86577 23H19.1051C20.6813 23 21.9709 21.65 21.9709 20V10.171L20.0604 12.171V20Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}

.check_input:disabled + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.check_input:checked:disabled + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M7.23727 7.48591L4.42676 10.3149L12.1589 18.0979L25.9999 4.16591L23.1904 1.33691L12.1589 12.4389L7.23727 7.48591Z' fill='%234D4D4D'/%3E%3Cpath d='M20.8628 20C20.8628 20.542 20.4078 21 19.8693 21H2.9804C2.44194 21 1.98693 20.542 1.98693 20V3C1.98693 2.458 2.44194 2 2.9804 2H19.7779L21.3526 0.415C20.9035 0.146542 20.3916 0.00329969 19.8693 0H2.9804C1.34118 0 0 1.35 0 3V20C0 21.65 1.34118 23 2.9804 23H19.8693C21.5085 23 22.8497 21.65 22.8497 20V10.171L20.8628 12.171V20Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* Checkbox conditions */

/* Shop */
.shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    border: 1px solid #EFC84A
}
/* Footer */
.footer_zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social_icons {
    margin-left: 140px;
}

.social_icons ul {
    display:flex;
    flex-direction:row;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 139px;
    padding: 0;
    list-style-type:none;
}

.social_icons li {
    margin-right: 9px;
}

.friendly_offer {
    margin-left: 0;
    margin-right: 350px;
}

.pseudo_headline {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    line-height: 36px;
    color: var(--black);
    margin-bottom: 0px;
}

.footer_text {
    line-height: 22px;
    align-items: center;
    color: var(--tundora);
    margin-top: 9px;
}
