/* Variables */
:root {
    --black: #000000;
    --outer_space: #283136;
    --tundora: #444444;
    --gallery: #EEEEEE;
    --white: #FFFFFF;
    --alto: #D5D5D5;
    --gray: #DFDFDF;
    --iron: #D7DCDE;
    --carnation: #FB565A;
    --cinnabar: #E74246;
    --valencia: #D7373B;
    --caribbean_green: #00CA74;
    --jade: #00BC6C;
    --green: #00AA62;
    --sandstorm: #EFC84A;
    --meat_brown: #EAB534;
    --urobilin: #E5A722;
}

/* Global */
body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--outer_space);
    background-color: var(--iron);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid*/
.page {
    height: 100%;
}

.page_body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Headlines*/
.main_headline {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--black);
}

.legend_headline {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--black);
}

/* Logo */
.logo {
    margin-right: 200px;
}

.logo:active {
    opacity: 0.5;
}

/* Main navigation */
.main_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    line-height: 30px;
    color: var(--black);
    background-color: var(--gallery);
    list-style: none
    outline 5px solid #f70606;
}

.main_navigation ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_navigation ul :last-child {
    margin-left:auto;
}

.main_navigation li {
    margin-right: 44px;
}

.main_navigation a:active {
    color: var(--gray);
}

.main_navigation a:focus,
.main_navigation a:hover {
    color: var(--carnation);
}

.main_navigation a:visited {
    text-decoration: underline;
    text-decoration-color: var(--carnation);
}

/* Visually hidden*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Features */
.grid .features {
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr;
    column-gap: 100px;
}

.features_list {
    list-style: none;
}

.feature_item {
    text-align: left;
}

.feature_item h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
}

/* Imagine */
.social_imagine_vk {
    width: 26.01px;
    height: 15px;
}

.social_imagine_fb {
    width: 12px;
    height: 22px;
}

.social_imagine_inst {
    width: 21px;
    height: 21px;
}

.social_imagine_active {
    opacity: 0.3;
}

/* Buttons */
.button {
    border-radius: 3px;
    background-color: var(--gallery) ;
    color: var(--white);
}

.button_close {
    position: relative;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.button_close:hover {
    opacity: 0;
}

.button_close:active {
    opacity: 0.1;
}

.button_close:before, .button_close:after {
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    background-color: var(--carnation);
}

.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.button_red {
    background-color: var(--carnation);
}

.button_red a:active{
    background-color: var(--valencia);
    opacity: 0.3;
}

.button_red a:focus,
.button_red a:hover {
    background-color: var(--cinnabar);
}

.button_green {
    background-color: var(--caribbean_green);
}

.button_green a:active{
    background-color: var(--green);
    opacity: 0.3;
}

.button_green a:focus,
.button_green a:hover {
    background-color: var(--jade);
}

.button_yellow {
    background-color: var(--sandstorm);
}

.button_yellow a:active{
    background-color: var(--urobilin);
    opacity: 0.3;
}

.button_yellow a:focus,
.button_yellow a:hover {
    background-color: var(--meat_brown);
}

.button_for_filter {
    background-color: var(--gallery) ;
    border-radius: 3px;
    color: var (--black)
}

.button_for_filter:focus {
    background-color: var(--gray);
}

.button_for_filter:active {
    background-color: var(--alto);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social_button {
    width: 81px; 
    height: 81px;
    background: var(--white);
    border-radius: 50%;
}

.social_button a:active{
    background-color: var(--cinnabar);
    opacity: 0.3;
}

.social_button a:focus,
.social_button a:hover {
    background-color: var(--valencia);
}

/*Main input*/
.input_disabled {
    opacity: 0.5;
}

/* Input for form*/
.input_form {
    font: inherit;
    width: 360px;
    height: 50px;
    border-style: solid;
    border-color: var(--white);
    border-width: 2px;
    border-radius: 3px;
    color: var(--tundora);
    opacity: 0.5;
}

.input_form input:focus {
    border-color: var(--black);
    color: var(--tundora)
}

.input_form_ivalid {
    border-color: var(--cinnabar);
    color: var(--cinnabar)
}

.input_form_text_letter {
    width: 760px;
    height: 118px;
}

/* Input for filter*/
.input_radio {
    background-color: var(--alto);
    color: var(--black)
}

.input_radio input:focus {
    background-color: var(--outer_space);
    color: var(--black)
}

/* Index */
.features ul {
    display:flex;
    margin: 0;
    padding: 0;
}

/* catalog filters and shop  */
.filters_and_shop {
    display: flex;
    flex-direction: row;
    border: 1px solid #D7373B;
}

/* filters*/
.filters {
    display: flex;
    flex-direction: column;
    border: 1px solid #00CA74
}

/* Shop */
.shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    border: 1px solid #EFC84A
}
/* Footer */
.footer_zone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social_icons ul {
    display:flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.social_icons li {
    margin-right: 9px;
}

.pseudo_headline {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    line-height: 36px;
    color: var(--black);
    margin-bottom: 0px;
}

.footer_text {
    line-height: 22px;
    align-items: center;
    color: var(--tundora);
    margin-top: 9px;
}
